@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

* { 
    margin: 0;  
    padding: 0; 
    box-sizing: border-box; 
}   

body{   
    background-color: rgb(255, 255, 255);
}   

header{ 
    background-color:   rgb(48, 169, 250);
    font-style: oblique;    
    display: flex;  
    justify-content: space-around;  
}   


.titulo{    
    color: aqua;    
    border-radius: 40rem;   
    background-color: black;    
    padding: 1.5rem;  
    align-self: center;  
}   

.link1{ 
    justify-content: space-between; 
    margin: 1rem;   
    border: 0.15rem solid black;    
    padding: 1rem;  
    background-color: rgb(243, 24, 24);
    color: white;
    cursor: pointer;
    align-self: center;
}

.link2{ 
    justify-content: space-between; 
    margin: 1rem;   
    border: 0.15rem solid black;    
    padding: 1rem;  
    background-color: rgb(243, 24, 24);
    color: white;
    cursor: pointer;
    align-self: center;
}   

main{   
    text-align: center; 
    display: flex;  
    flex: 1 1 0;    
    flex-direction: column; 
    gap: 2rem;  
    padding: 1rem;  
}   

.inicio{    
    font-size: 1.05rem; 
}   

h2{ 
    padding: 2.5rem;    
    color: black;   
}   

.fonte{ 
    font-family: "Bungee Spice", san    s-serif;
    font-size: 2rem;    
}   

.input{ 
    display:flex;   
    flex-direction: column; 
    justify-content: center;    
}   

#tarefas{   
    display: flex;  
    justify-content: center;    
    align-self: center;
    height: 4vh;
    width: 30vw;
    font-size: 1rem;
}

.lista{
    display: flex;
    flex-direction: column;
    align-self: center;
}


#nome{
    display: flex;
    align-self: center;
    width: 60vw;
}

#botao{
    margin: 1rem;
    background-color: brown;
    display: flex;
    justify-content: center;
    width: 30vw;
    align-self: center;
}

#text{
    color: blue;
    font-size: 2rem;
}

#mesesTarefa{
    display: flex;
    align-self: center;
    width: 15vw;
    margin: 0.5rem;
    padding: 0.10rem;
}

#botao2{
    background-color: rgb(85, 169, 238);
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    width: 2vw;
    height: 4vh;
}

footer{
    background-color: green;
    display: flex;
    align-items: end;
    height: 4vh;
}

.rodape{
    display: flex;
    align-items: center;
}