@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Playwrite+MX+Guides&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: gray;
}

main{
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    border-radius: 5rem;
    background-color: white;
    width: 90vw;
    height: 80vh;
}

#dataAgenda{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    margin-left: 3rem;
    font-family: "Playwrite MX Guides", cursive;

}

#voltar{
    display: flex;
    height: 5vh;
    width: 5vw;
    cursor: pointer;
}

#titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 4.5rem;
}

#tarefaTitle{
    display: flex;
    justify-content: center;
    margin: 1rem;
}

#inserirTarefa{
    display: flex;
    justify-content: center;
    margin: 1rem;
}

#horario1{
    width: 5.5vw;
    margin-left: 1rem;
}
#horario2{
    width: 5.5vw;
}

#error{
    color: red;
    display: flex;
    justify-content: center;
}

#listaTarefa{
    display: flex;
    flex-direction: column;
}

.lista{
    display: flex;
    align-self: center;
    list-style: none;
}

.buttonList{
    display: flex;
    align-self: center;
    width: 10vw;
    justify-content: center;
    background-color: rgb(241, 90, 90);
}

